
<div class="theme-layout">
  <section>
    <div class="page-header">
      <div class="header-inner">
        <h2>Search Results</h2>
        <nav class="breadcrumb">
          <a href="index-2.html" class="breadcrumb-item"><i class="fa fa-home"></i></a>
          <span class="breadcrumb-item active">Search</span>
        </nav>
      </div>
    </div>
  </section>
    
  <section>
    <div class="gap gray-bg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="row" id="page-contents">
              <div class="col-lg-3">
                <aside class="sidebar static">
                  <div class="widget">
                      <%= render 'shared/shortcuts' %>
                    </div><!-- Shortcuts -->
<!--                   <div class="widget stick-widget">
                    <h4 class="widget-title">Profile intro</h4>
                    <ul class="short-profile">
                      <li>
                        <span>about</span>
                        <p>Hi, i am jhon kates, i am 32 years old and worked as a web developer in microsoft company. </p>
                      </li>
                      <li>
                        <span>fav tv show</span>
                        <p>Hi, i am jhon kates, i am 32 years old and worked as a web developer in microsoft company. </p>
                      </li>
                      <li>
                        <span>favourit music</span>
                        <p>Hi, i am jhon kates, i am 32 years old and worked as a web developer in microsoft company. </p>
                      </li>
                    </ul>
                  </div> --><!-- profile intro widget -->

                </aside>
              </div><!-- sidebar -->
              <div class="col-lg-6 middle">
                <div class="central-meta">
                  <div class="frnds">
                    <ul class="nav nav-tabs">
                       <li class="nav-item"><a class="active" href="#frends" data-toggle="tab">People</a> <span><%= @users.count %></span></li>
                       <li class="nav-item"><a class="" href="#frends-req" data-toggle="tab">Groups</a><span><%= @groups.count %></span></li>
                       <li class="nav-item"><a class="" href="#pages" data-toggle="tab">Pages</a><span><%= @pages.count %></span></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                      <div class="tab-pane active fade show " id="frends" >
                      <ul class="nearby-contct">
                        <% @users.each do |user| %>
                            <li>
                              <div class="nearly-pepls">
                                <figure>
                                  <a href="<%= timeline_path(user.id) %>" title=""><%= image_pack_tag 'media/images/resources/user-avatar.jpg'%></a>
                                </figure>
                                <div class="pepl-info">
                                  <h4><%= link_to user.username,timeline_path(user.id) %></h4>
                                  <% if user.profile != nil %>
                                    <span><%= user.profile.profession %></span>
                                  <% else %>
                                     <span>FTV model</span>
                                  <% end %>
                                  <em><i class="fa fa-map-marker"></i>400m away</em>
                                    <% if current_user.can_add_as_friend(user) %>
                                        <%= simple_form_for @friend_request, :html => { :style => ' display: flex;position: absolute;right: -0%;' } do |form| %>
                                        <%= form.input :requestor_id,:input_html => { :value => current_user.id} ,as: :hidden %> 
                                        <%= form.input :receiver_id, :input_html => { :value => user.id }, as: :hidden %>
                                        <%= form.submit "Add Friend", class: 'add-butn',style: "width:max-content; color:white;border-color:white;height: -webkit-fill-available;" %>
                                      <% end %>

                                    <% end %>
                                </div>
                              </div>
                            </li>
                          <% end %>
                      </ul>
                      <div class="lodmore"><button class="btn-view btn-load-more"></button></div>
                      </div>
                      <div class="tab-pane fade" id="frends-req" >
                      <ul class="nearby-contct">
                        <% @groups.each do |group| %>
                            <li>
                              <div class="nearly-pepls">
                                <figure>
                                  <a href="<%= group_path(group) %>" title="">
                                    <% if group.photo.url != nil %>
                                     <%= image_tag (group.photo.url :controls =>true, style: 'display:inline') %>
                                    <% else %>
                                    <%= image_pack_tag 'media/images/resources/group1.jpg'%>
                                    <% end %>
                                    </a>
                                </figure>
                                <div class="pepl-info">
                                  <h4><a href="<%= group_path(group) %>" title=""><%= group.group_name %></a></h4>
                                  <span>public group</span>
                                  <em><%= group.users.count %> Members</em>
                                  <% if !(current_user.in? group.users) %> 
                                  <%= link_to "Join Now", group_users_path(group) ,method: :post, class: "add-butn" %>
                                  <% else %>
                                    <% group.group_users.each do|group_user| %>
                                      <% if group_user.user == current_user %>
                                         <%= link_to "Delete Group", group_path(group) ,method: :delete, class: "add-butn" %>
                                          <% break %>
                                      <% end %>
                                    <% end %>
                                  <% end %>
                                  
                                </div>
                              </div>
                            </li>
                          <% end %>
                      </ul> 
                        <button class="btn-view btn-load-more"></button>
                      </div>
                      <div class="tab-pane fade" id="pages" >
                      <ul class="nearby-contct">
                        <% @pages.each do |page| %>
                            <li>
                              <div class="nearly-pepls">
                                <figure>
                                  <a href="<%= page_path(page) %>" title="">
                                    <% if page.photo.url != nil %>
                                     <%= image_tag (page.photo.url :controls =>true, style: 'display:inline') %>
                                    <% else %>
                                    <%= image_pack_tag 'media/images/resources/group1.jpg'%>
                                    <% end %>
                                    </a>
                                </figure>
                                <div class="pepl-info">
                                  <h4><a href="<%= page_path(page) %>" title=""><%= page.page_name %></a></h4>
                                  <span>public group</span>
                                  <em><%= page.users.count %> Followers</em>
                                  <% if !(current_user.in? page.users) %> 
                                  <%= link_to "Follow", page_followers_path(page) ,method: :post, class: "add-butn" %>
                                  <% else %>
                                    <% page.page_followers.each do|page_follower| %>
                                      <% if page_follower.user == current_user %>
                                         <%= link_to "Unfollow", page_follower_path(page_follower) ,method: :delete, class: "add-butn" %>
                                          <% break %>
                                      <% end %>
                                    <% end %>
                                  <% end %>
                                  
                                </div>
                              </div>

                            </li>
                          <% end %>
                      </ul> 
                        <button class="btn-view btn-load-more"></button>
                      </div>
                    </div>
                  </div>
                </div>  
              </div><!-- centerl meta -->
              <div class="col-lg-3">
                <aside class="sidebar static">
<!--                   <div class="widget">
                    <= render 'shared/following' %>
                  </div> --><!-- who's following -->
                  <div class="widget friend-list stick-widget">
                    <%= render 'shared/friends' %>
                  </div><!-- friends list sidebar -->               
                </aside>
              </div><!-- sidebar -->
            </div>  
          </div>
        </div>
      </div>
    </div>  
  </section>
</div>

