<div class="theme-layout">

  

    
  <section>
    <div class="page-header">
      <div class="header-inner">
        <h2>Page Followers</h2>
        <nav class="breadcrumb">
          <a href="<%= posts_path %>" class="breadcrumb-item"><i style="color: #6c757d;" class="fa fa-home"></i></a>
          <span class="breadcrumb-item active" style="color: #6c757d;">People Nearby</span>
        </nav>
      </div>
    </div>
  </section>
<section>
  <%= form_tag(page_followers_path(@page.id), :method=>'get') do %>
    <div class="row" style="background-color:#f4f2f2;">
      <div class="col-lg-6 col-md-8 offset-2 offset-lg-3">
        <div class="form-group">
          <!-- <label>Person Name</label> -->
          <div class="input-group"style="background-color: white;">
            <%= text_field_tag :search_name ,"",class: "form-control",placeholder: "Search People"%>
            <div class="input-group-append" >
              <%= button_tag :submit do %>
                  <i class='fa fa-search'></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6" >
      </div> 
    </div>
  <% end %>
</section>
    
  <section>
    <div class="gap gray-bg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="row" id="page-contents">
              <div class="col-lg-3">
                <aside class="sidebar static">
                  <div class="widget">
<!--                     <h4 class="widget-title">Profile intro</h4>
                    <ul class="short-profile">
                      <li>
                        <span>about</span>
                        <p>Hi, i am jhon kates, i am 32 years old and worked as a web developer in microsoft company. </p>
                      </li>
                      <li>
                        <span>fav tv show</span>
                        <p>spartcus blood, sacred games </p>
                      </li>
                      <li>
                        <span>favourit music</span>
                        <p>Shakira, Justin biber</p>
                      </li>
                    </ul>
                  </div> --><!-- profile intro widget -->
                  <div class="widget stick-widget">
                    <%= render 'shared/shortcuts' %>
                  </div><!-- Shortcuts -->
                  

                </aside>
              </div><!-- sidebar -->
              <div class="col-lg-6">
                <div class="central-meta">
                  <ul class="nearby-contct">
                    <% if @users==[] %>
                      <h4 align="center">No Such User Found</h4>
                    <% end %>
                    <% @users.each do |user| %>
                    <li>
                      <div class="nearly-pepls">
                        <figure>
                          <a href="<%= timeline_path(user.id) %>" title="">
                            <% if user.profile != nil  && user.profile.photo.url != nil %>
                              <%= image_tag (user.profile.photo.url :controls =>true, style: 'display:inline') %>
                            <% else %>
                              <%= image_pack_tag 'media/images/resources/default_profile.png'%></a>
                            <% end %>
                        </figure>
                        <div class="pepl-info">
                          <h4><%= link_to user.username,timeline_path(user.id) %></h4>
                          <% if user.profile != nil %>
                            <span><%= user.profile.profession %></span>
                            <% if user.profile.city != nil %>
                            <em><i class="fa fa-map-marker"></i>Lives in <%= user.profile.city %></em>
                            <% end %>
                          <% end %>
                          <% if current_user.can_add_as_friend(user) %>
                              <%= simple_form_for @friend_request, :html => { :style => ' display: flex;position: absolute;right: -0%;' } do |form| %>
                              <%= form.input :requestor_id,:input_html => { :value => current_user.id} ,as: :hidden %> 
                              <%= form.input :receiver_id, :input_html => { :value => user.id }, as: :hidden %>
                              <%= form.submit "Add Friend", class: 'add-butn',style: "width:max-content; color:white;border-color:white;height: -webkit-fill-available;" %>
                            <% end %>
                          <% end %>
                        </div>
                      </div>
                    </li> 
                    <% end %>                   
                  </ul>
                </div><!-- photos -->
              </div><!-- centerl meta -->
              <div class="col-lg-3">
                <aside class="sidebar static">
  <!--                 <div class="widget">
                    <= render 'shared/following' %>
                  </div> --><!-- who's following -->
                  <div class="widget friend-list stick-widget">
                    <%= render 'shared/friends' %>
                  </div><!-- friends list sidebar -->               
                </aside>
              </div><!-- sidebar -->
            </div>  
          </div>
        </div>
      </div>
    </div>  
  </section>

 </div>
